@font-face {
  font-family: Bickham;
  src: url("fonts/BickhamScriptPro-Regular.otf");
}
@font-face {
  font-family: HelveticaNeue;
  src: url("fonts/HelveticaNeueLTStd-Lt.otf");
}
.vegas-animation-slide1 {
  animation: slide1 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide2 {
  width: 3911px;
  height: 3003px;
  animation: slide2 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide3 {
  width: 1575px;
  height: 2363px;
  animation: slide3 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide4 {
  width: 2357px;
  height: 3072px;
  animation: slide4 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide5 {
  width: 2474px;
  height: 2500px;
  animation: slide5 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide6 {
  width: 1525px;
  height: 2310px;
  animation: slide6 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide7 {
  width: 2337px;
  height: 2530px;
  animation: slide7 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide8 {
  width: 1760px;
  height: 3088px;
  animation: slide8 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide9 {
  width: 1872px;
  height: 3456px;
  animation: slide9 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide10 {
  width: 1932px;
  height: 1920px;
  animation: slide10 ease-out;
  -webkit-animation-fill-mode: forwards;
}
.vegas-animation-slide11 {
  width: 2184px;
  height: 3416px;
  animation: slide11 ease-out;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slide1 {
  0% {
    -webkit-transform: translate(0px, 0px);
    -webkit-animation-fill-mode: forwards;
  }
  100% {
    -webkit-transform: translate(-1045px, 0px);
    -webkit-animation-fill-mode: forwards;
  }
}
@-webkit-keyframes slide2 {
  0% {
    -webkit-transform: translate(-1420px, 0px) scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: translate(0px, -541px) scale(1, 1);
  }
}
@-webkit-keyframes slide3 {
  0% {
    -webkit-transform: translate(-204px, 0px) scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: translate(0px, -442px) scale(1.25, 1.25);
  }
}
@-webkit-keyframes slide4 {
  0% {
    -webkit-transform: translate(-150px, -500px) scale(1.3, 1.3);
  }
  100% {
    -webkit-transform: translate(-804px, -460px) scale(0.7, 0.7);
  }
}
@-webkit-keyframes slide5 {
  0% {
    -webkit-transform: translate(-1494px, -188px) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(-240px, -300px) scale(0.9, 0.9);
  }
}
@-webkit-keyframes slide6 {
  0% {
    -webkit-transform: translate(-25px, -100px) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(-387px, -150px) scale(0.9, 0.9);
  }
}
@-webkit-keyframes slide7 {
  0% {
    -webkit-transform: translate(-1257px, -610px) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(-150px, -400px) scale(0.9, 0.9);
  }
}
@-webkit-keyframes slide8 {
  0% {
    -webkit-transform: translate(0px, -868px) scale(1.6, 1.6);
  }
  100% {
    -webkit-transform: translate(-400px, -500px) scale(0.7, 0.7);
  }
}
@-webkit-keyframes slide9 {
  0% {
    -webkit-transform: translate(-915px, -90px) scale(1.6, 1.6);
  }
  100% {
    -webkit-transform: translate(-300px, -540px) scale(0.7, 0.7);
  }
}
@-webkit-keyframes slide10 {
  0% {
    -webkit-transform: translate(-940px, 0px) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
  }
}
@-webkit-keyframes slide11 {
  0% {
    -webkit-transform: translate(-1304px, -1100px) scale(1.4, 1.4);
  }
  100% {
    -webkit-transform: translate(-470px, -680px) scale(0.6, 0.6);
  }
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#content {
  width: 1080px;
  height: 1920px;
  z-index: 1;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#content .bg {
  position: absolute;
  -webkit-animation-fill-mode: forwards;
  width: 2125px;
  height: 1920px;
  left: 0;
  z-index: -2;
  right: 0;
  top: 0;
  bottom: 0;
}
#content #index-title {
  color: #fff;
}
#content #index-title .slideTitle_1 {
  display: block;
  position: absolute;
  text-shadow: 1px 1px 2px #000, 0 0 2em #013d7b;
  top: 200px;
}
#content #index-title .slideTitle_5 {
  display: block;
  position: absolute;
  text-shadow: 1px 1px 2px #000, 0 0 2em #013d7b;
  top: 200px;
  left: 205px;
}
#content #index-title .slideTitle_5 h2 {
  margin: 0;
  text-align: center;
  padding: 0;
  width: 565px;
  line-height: 95px;
  display: inline-block;
}
#content #index-title .slideTitle_5 h3 {
  position: relative;
  left: 70px;
}
#content #index-title .slideTitle_9 {
  display: block;
  position: absolute;
  text-shadow: 1px 1px 2px #000, 0 0 2em #013d7b;
  top: 200px;
  left: 205px;
}
#content #index-title .slideTitle_9 h2 {
  margin: 0;
  text-align: center;
  padding: 0;
  width: 565px;
  line-height: 240px;
  display: inline-block;
}
#content #index-title .slideTitle_9 h3 {
  position: relative;
  left: 15px;
}
#content #index-title h3,
#content #index-title h2 {
  display: block;
  transition: 2s;
  opacity: 1;
  font-weight: normal;
}
#content #index-title h3 {
  font-size: 50px;
  margin: 0 0 0 250px;
}
#content #index-title h2 {
  line-height: 131px;
  font-size: 200px;
  font-family: Bickham;
  margin: 0 0 0 100px;
  width: 400px;
}
#content .menu-wrapper {
  position: absolute;
  top: 1300px;
}
#content .menu-wrapper #amenities-menu {
  left: 294px;
}
#content .menu-wrapper #site-menu {
  left: 312px;
}
#content .menu-wrapper #design-menu {
  left: 97px;
}
#content .menu-wrapper #design-menu,
#content .menu-wrapper #amenities-menu,
#content .menu-wrapper #site-menu {
  position: absolute;
  z-index: -1;
  font-size: 20px;
  top: 0;
  transition: top 600ms ease;
}
#content .menu-wrapper #design-menu i,
#content .menu-wrapper #amenities-menu i,
#content .menu-wrapper #site-menu i {
  opacity: 0;
}
#content .menu-wrapper #design-menu.active,
#content .menu-wrapper #amenities-menu.active,
#content .menu-wrapper #site-menu.active {
  top: -70px;
}
#content .menu-wrapper #design-menu ul,
#content .menu-wrapper #amenities-menu ul,
#content .menu-wrapper #site-menu ul {
  list-style: none;
}
#content .menu-wrapper #design-menu ul li,
#content .menu-wrapper #amenities-menu ul li,
#content .menu-wrapper #site-menu ul li {
  display: inline-block;
  position: relative;
  border-top: 1px solid #90c188;
  border-left: 1px solid #90c188;
  border-right: 1px solid #90c188;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 11px 76px;
  background-color: #fff;
  color: #004f8c;
}
#content .menu-wrapper #design-menu ul li:hover,
#content .menu-wrapper #amenities-menu ul li:hover,
#content .menu-wrapper #site-menu ul li:hover,
#content .menu-wrapper #design-menu ul li.active,
#content .menu-wrapper #amenities-menu ul li.active,
#content .menu-wrapper #site-menu ul li.active {
  background-color: #90c188;
  color: #fff;
}
#content .menu-wrapper #design-menu ul li.active i,
#content .menu-wrapper #amenities-menu ul li.active i,
#content .menu-wrapper #site-menu ul li.active i {
  position: absolute;
  font-size: 50px;
  left: 20px;
  top: -1px;
}
#content .menu-wrapper #active-menu {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 60px;
  left: 402px;
}
#content .menu-wrapper #active-menu ul {
  list-style: none;
  margin: 0;
  top: 0px;
  position: absolute;
  left: 133px;
  width: 536px;
  padding: 0 0 0 14px;
  display: inline-block;
  vertical-align: top;
}
#content .menu-wrapper #active-menu ul li {
  display: inline-block;
  border: 7px solid #aacea0;
  padding: 16px 22px;
  margin-right: 10px;
  opacity: 0;
  transition: 0.5s;
}
#content .menu-wrapper #active-menu ul li:hover {
  background-color: #fff;
  color: #004f8c;
}
#content .menu-wrapper #active-menu ul li.active {
  background-color: #fff;
  color: #004f8c;
}
#content .menu-wrapper.index-menu {
  height: 350px;
  transition: 1.3s;
  background-color: #01305b;
  opacity: 0.9;
  width: 1080px;
}
#content .menu-wrapper.index-menu.menu-active {
  height: 400px;
  top: 1520px;
  background-color: #004f8c;
  opacity: 1;
}
#content .menu-wrapper.index-menu.menu-active .index-menu-title {
  opacity: 0;
}
#content .menu-wrapper.index-menu #menu-logo {
  padding: 65px 0 0 33px;
  transition: 2s;
}
#content #menu-logo.menu-logo-active {
  padding: 130px 0 0 33px !important;
}
#content .index-menu-title {
  transition: 1.1s;
}
#content .inline-block {
  display: inline-block;
  vertical-align: top;
}
#content .visible {
  opacity: 1 !important;
  display: none;
}
#content .hidden {
  opacity: 0 !important;
  display: none;
}
#content .hidden-menu {
  opacity: 0 !important;
}
#content .index-menu-title {
  position: absolute;
  top: 119px;
}
#content .index-menu-title h1 {
  color: #fff;
  font-size: 38px;
  font-weight: normal;
  padding-left: 172px;
}
#content .index-top {
  z-index: 1 !important;
}
#amenities-gallery {
  position: relative;
}
.towns-collection-main-gallery,
.fifty-collection-main-gallery,
.sixty-collection-main-gallery {
  position: relative;
  top: 450px;
}
.towns-collection-main-gallery .swiper-slide,
.fifty-collection-main-gallery .swiper-slide,
.sixty-collection-main-gallery .swiper-slide {
  width: 800px;
  height: 700px;
}
.amenities-collection-main-gallery .swiper-pagination,
.towns-collection-main-gallery .swiper-pagination,
.fifty-collection-main-gallery .swiper-pagination,
.sixty-collection-main-gallery .swiper-pagination,
#collection-slideshow .swiper-pagination {
  position: relative;
  top: 46px;
}
.amenities-collection-main-gallery .swiper-pagination .swiper-pagination-bullet,
.towns-collection-main-gallery .swiper-pagination .swiper-pagination-bullet,
.fifty-collection-main-gallery .swiper-pagination .swiper-pagination-bullet,
.sixty-collection-main-gallery .swiper-pagination .swiper-pagination-bullet,
#collection-slideshow .swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
}
.amenities-collection-main-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.towns-collection-main-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.fifty-collection-main-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sixty-collection-main-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
#collection-slideshow .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: solid 5px #004f8c;
  padding: 3px;
  background-clip: content-box; /* support: IE9+ */
  background-color: #ccc;
}
.towns-collection-main-gallery .swiper-pagination,
.fifty-collection-main-gallery .swiper-pagination,
.sixty-collection-main-gallery .swiper-pagination {
  top: 175px;
}
.swiper-caption {
  text-align: center;
  position: absolute;
  width: 480px;
  bottom: -20px;
  font-size: 40px;
}
.product-details {
  position: absolute;
  bottom: -102px;
  text-align: center;
  width: 100%;
  font-size: 57px;
/* background-color: #004f8c; */
  font-weight: bold;
}
.product-details.collection-return-button {
  top: 281px;
  z-index: 999;
  height: 154px;
}
.product-details.collection-return-button.no-preview-slide {
  top: 269px;
}
.product-details.collection-return-button.th {
  top: 237px;
}
.product-details button {
  background-color: #004f8c;
  border: 8px solid #aacea0;
  color: #fff;
  padding: 0 20px;
}
.product-details h3 {
  font-size: 43px;
  margin: 0;
}
#dynamic-content #collection-slideshow {
  top: 510px;
  position: relative;
}
#dynamic-content #collection-slideshow.no-preview-slide {
  top: 135px;
}
#dynamic-content #collection-slideshow .swiper-slide {
  width: 480px;
  height: 800px;
}
#town-collection-perview {
  position: absolute;
}
#town-collection-perview img {
  opacity: 0.2;
}
#town-collection-perview .town-collection-block {
  background-image: url("../images/Products/Category/TH/townhomesblock.jpg");
}
#town-collection-perview .town-collection-block2 {
  background-image: url("../images/Products/Category/TH/townhomesblock2.jpg");
}
#town-collection-perview .town-collection-block3 {
  background-image: url("../images/Products/Category/TH/townhomesblock3.jpg");
}
#town-collection-perview .town-collection-block,
#town-collection-perview .town-collection-block2,
#town-collection-perview .town-collection-block3 {
  background-attachment: fixed;
  background-position: top;
  -webkit-transition: 1s;
  width: 277px;
  left: 236px;
  height: 286px;
  position: absolute;
  top: 0;
}
#town-collection-perview .town-collection-block:after,
#town-collection-perview .town-collection-block2:after,
#town-collection-perview .town-collection-block3:after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fff), color-stop(100%, rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fff 0%, rgba(255,255,255,0) 24%); /* Chrome10+,Safari5.1+ */
}
#town-collection-perview .town-collection-block:before,
#town-collection-perview .town-collection-block2:before,
#town-collection-perview .town-collection-block3:before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.8;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, #fff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 75%, #fff 100%); /* Chrome10+,Safari5.1+ */
}
.letter-box {
  display: inline-block;
  -webkit-transition: 1s;
}
#email-form {
  position: absolute;
  box-shadow: 4px 1px 15px #000;
  background: #fff;
  z-index: 10;
  left: 117px;
  top: -1000px;
  width: 857px;
  height: 700px;
  -webkit-transition: 800ms ease-out;
  border-left: 5px solid #ccd8e4;
  border-bottom: 5px solid #ccd8e4;
  border-right: 5px solid #ccd8e4;
  border-radius: 31px;
  overflow: hidden;
}
#email-form #form-keyboard {
  position: relative;
  top: 50px;
}
#email-form .form-close {
  position: absolute;
  right: 26px;
  top: 15px;
}
#email-form label {
  font-size: 22px;
  margin-top: 2px;
  color: #013d7b;
  font-weight: bold;
  padding-left: 9px;
}
#email-form input,
#email-form textarea {
  background-color: #ccd8e4;
  font-family: arial;
  font-size: 22px;
  margin: 0;
}
#email-form textarea {
  height: 152px !important;
}
#email-form form button {
  background-color: #013d7b;
  color: #fff;
  font-size: 20px;
  font-family: tahoma;
  font-weight: normal;
  text-shadow: none;
  top: 25px;
  margin: 0 10px 0 10px;
  width: 829px;
  transition: 400ms;
}
#email-form form button:hover {
  background-color: #fff;
  color: #013d7b;
}
#email-form .email-header {
  background-color: #ccd8e4;
  font-size: 40px;
  line-height: 2;
  text-align: center;
}
#email-form .email-form-column {
  display: inline-block;
  vertical-align: top;
  width: 49.4%;
  padding: 10px;
}
.email-form-wrapper {
  height: 706px;
}
.email-form-container {
  transition: 600ms;
  position: absolute;
  opacity: 1;
}
.email-form-container .ui-input-text:first-child {
  height: 90px !important;
}
.email-form-container input {
  display: block;
  margin-bottom: 30px;
  font-size: 40px;
  height: 90px !important;
  padding: 0 0 0 20px;
  width: 800px;
}
.email-form-container textarea {
  font-size: 40px;
  height: 400px !important;
}
.email-form-container button {
  display: inline-block;
  border: 7px solid #aacea0;
  padding: 16px 22px;
  margin-right: 10px;
  float: right;
  background-color: #004f8c;
  color: #fff;
  font-size: 40px;
  transition: 0.5s;
}
.email-form-container button:hover {
  background: #fff;
  color: #004f8c;
}
.ui-body input.ui-input-text,
.ui-body textarea.ui-input-text {
  font-size: 40px;
  height: 300px !important;
}
div.ui-body.ui-keyboard button.ui-keyboard-button.ui-btn {
  font-size: 22px;
}
.ui-keyboard-button {
  font-size: 25px;
}
.ui-keyboard-preview-wrapper input {
  font-size: 40px;
  height: 68px;
  padding-left: 20px;
}
.ui-keyboard {
  top: 0 !important;
}
.thx-message {
  display: block;
  position: absolute;
  font-size: 62px;
  top: 35px;
  left: 255px;
}
.thx-message h3 {
  font-weight: normal;
  text-align: center;
  padding-right: 8px;
}
